.gallery-list {
  display: flex;
  list-style: none;
}
.gallery-item {
  width: 100%/3;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
